src/main/resources/META-INF/redisBean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.haiswang.com/schema/redisBean" targetNamespace="http://www.haiswang.com/schema/redisBean"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">
    <xsd:element name="redisBean">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="key" type="xsd:string" />
            <xsd:attribute name="value" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>